<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="@{/users}" enctype="multipart/form-data" method="post" th:object="${user}">
  <label th:for="username">Username:
    <input id="username" name="username" type="text" th:value="*{username}">
  </label></br>
  <label th:for="rawPassword">Password:
    <input id="rawPassword" name="rawPassword" type="password">
  </label></br>
  <label th:for="birthDate">BirthDate:
    <input id="birthDate" name="birthDate" type="text" th:value="*{birthDate}">
  </label></br>
  <label th:for="firstname">Firstname:
    <input id="firstname" name="firstname" type="text" th:value="*{firstname}">
  </label></br>
  <label th:for="lastname">Lastname:
    <input id="lastname" name="lastname" type="text" th:value="*{lastname}">
  </label></br>
  <label th:for="image">Image:
    <input id="image" name="image" type="file">
  </label></br>
  <div th:each="role: ${roles}">
    <input id="${role}" name="role" type="radio" value="${role}" th:checked="${role == user.role}">
    <lable th:for="${role}" th:text="${role}">Role name</lable>
  </div>
  <div>
    <label for="company">Company:
      <select id="company" name="companyId">
        <option th:each="company : ${companies}" th:value="${company.name()}"
                th:selected="${company.id() == user.companyId}"
                th:text="${company.name()}">Company</option>
      </select>
    </label>
  </div>
  <button type="submit">Register</button>
</form>
  <div th:if="${errors}">
    <p style ="color:red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
  </div>
</body>
</html>